header{
	width: 100%;
	height: 50px;
	background-color: #1dbf96;
}

.banner{
	/*position: relative;*/
}

.banner i{
	color: #ffffff;
	font-size: 28px;
	margin-left: 20px;
	margin-right: 10px;
	line-height: 50px;
	float: left;
	/*letter-spacing: 0.5em;*/
}

.banner #figure-sum{
	/*margin-left: 50px;*/
	font-size: 26px;
	font-family: "微软雅黑";
	line-height: 48px;
	float: left;
	width: 30px;
}

/*.item-box{
	position: relative;
}*/

.item-box .checkBox,
.banner #checkAll{
	border-radius: 4px;
	width: 16px;
	height: 16px;
	margin: 23px 12px 0 0 ;
	float: right;
}

.banner #checkAll{
	margin-top: 18px;
}


footer {
	width: 100%;
	height: 60px;
	background-color: #e9e7e7;
}

.confirm-wrap #cancle,
.confirm-wrap #finish {
	font-size: 40px;
	color: #1fbf96;
	line-height: 60px;
	width: 40px;
	cursor: pointer;
}

#cancle{
	float: left;
	margin-left: 27px;
}

#finish {
	float: right;
	margin-right: 25px;
}



/*修改选框样式*/
/*.item-box .checkBox[type=checkbox]+span{
	display: inline-block;
	border-radius: 4px;
	width: 16px;
	height: 16px;
	border: 1px solid #22bf96;
	color: #22bf96;
	position: absolute;
	top: 23px;
	right: 12px;
}

.banner #checkAll[type=checkbox]+label{
	display: inline-block;
	border-radius: 6px;
	width: 16px;
	height: 16px;
	border: 1px solid #ffffff;
	color: #ffffff;
	position: absolute;
	right: 12px;
	top: 16px;
}

.checkBox:checked+span:after {
	content: '\2714';
	position: absolute;
	font-size: 18px;
	top:-24px;
}

#checkAll:checked+label:after {
	content: '\2744';
	position: absolute;
	font-size: 18px;
	top:-2px;
}*/