body{
	/*position: relative;*/
	background-color: #f3f3f3;
	
}

.number,.text,p{
	font-family: "微软雅黑";
	color: white;
	font-size: 14px;
	line-height: 1.5;
}

.hr{
	height: 1px;
}

header{
	width: 100%;
	height: 160px;
	background-color: #1dbf96;
}

header .show-expend{
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}

.show-expend .number{
	font-size: 47px;
}

.sec-show .close-expend,
.sec-show .open-expend{
	width: 50%;
	text-align: center;
	margin-top: 10px;
	float: left;
}

.main-wrapper{
	background-color: #f3f3f3;
}

.daily-wrap .nav{
	height: 25px;
}

.daily-wrap .nav p{
	line-height: 25px;
	font-size: 12px;
	color: #808080;
	margin-left: 10px;
}

.daily-wrap .daily-sum{
	float: right;
	margin-right: 25px;
}

.daily-bills .item-box{
	height: 64px;
	background-color: #fff;
	/*border-bottom: 1px solid;*/
	line-height: 64px;
}

.item-box .mem-pic{
	width: 36px;
	height: 36px;
	float: left;
	margin-left: 17px;
	margin-top: 14px;
	border-radius: 18px;
	overflow: hidden;
}

.item-box .event{
	color: #000;
	font-size: 16px;
	letter-spacing: 0.1em;
	float: left;
	margin-left: 16px;
}

.item-box .price{
	color: #000;
	font-size: 16px;
	float: right;
	margin-right: 37px;
}

.item-box .state{
	width: 14px;
	height: 14px;
	margin-right: 13px;
	margin-top: 25px;
	background-color: #1dbf96;
	border-radius: 7px;
	float: right;
}

.item-box .invalid{
	background-color: #a6a6a6;
}


footer{
	position: fixed;
	height: 60px;	
	bottom: 0;
	width: 100%;	
}

footer .foot-wrap{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	background-color: #e9e7e7;
	color: #505050;
}

footer i{
	color: #505050;
	font-size: 16px;
	line-height: 50px;
	letter-spacing: 0.5em;
}

/*footer p{
	color: #505050;
	letter-spacing: 0.5em;
	line-height: 50px;
}*/

footer .count,
footer .figure{
	width: 50%;
	float: left;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

/*.count.pic{
	float: left;
	width: 28px;
	height: 28px;
	background: url(../img/Stats.png);
}

.figure.pic{
	background: url(../img/money.png);
	width: 28px;
	height: 28px;
}*/

footer .add-box{
	position: relative;
	width: 60px;
	margin: 0 auto;
}

.add-box .add-btn{
	border: none;
}

.add-btn img{
	display: block;
	width: 60px;
	height: 60px;
	
}

